body{
    background: #25292d;
}

.img-fit{
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #171a1d!important;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    color: white;
    margin: 0 0.5rem;
}

.btn-primary {
    color: #fff!important;
    background-color:#ffc107!important;
    border-color: #ffc107!important;
}

#container{
    max-width: 1440px;
    margin: 0 auto;
    height: auto;
    display: flex;
    color: white;
    flex-wrap: nowrap;
}

#container article.card{
    width: 25%;
    margin: 0 1rem;
}

#container article.card h5{
    margin: 1rem 0;
}

#container article.card h5, #container article.card p{
    padding: 0 1rem;
}

/* #containerVerduras,#containerCarnes,#containerPescados,#containerBebidas{
    display:flex!important;
    flex-wrap: nowrap;
} */


